body {
    padding: 20px;
}

/*nav {
    background-color: #FBBC05;
    color: white;
}*/

.container {
    background-color: white;
}

.padding-top-20 {
    padding-top: 20px;
}

html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.marginn-top-20 {
    margin-top: 20px;
}

.popup_msg{
    position:absolute;
    padding-top: 5px;
    z-index:10;
    width:450px;
    height:40px;
    text-align:center;
    color:blue;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    background-color:greenyellow;
    display:none;
}

.carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }