<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <!-- <connectionStrings >
      <add
           name="connection"
           connectionString="Server=itksqlexp8;Database=fmsc_DB;User ID=it3680112;Password=fornext2;Trusted_Connection=False; Integrated Security=true"
           providerName="System.Data.SqlClient"/>
    </connectionStrings> -->
</configuration>

<!-- <connectionStrings >
      <add
           name="myConnectionString"
           connectionString="Server=itksqlexp8;Database=fmsc_DB;User ID=myUsername;Password=myPassword;Trusted_Connection=False;"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>-->