<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<identity impersonate="true" userName="adilstu\IT3680112" password="fornext2" />-->

  </system.web>
  <connectionStrings >
    <add
         name="connection"
         connectionString="Server=itksqlexp8;Database=sktokka_ConservationSchool;Trusted_Connection=False; Integrated Security=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<system.net>
    <mailSettings>
      <smtp from="sktokka@ilstu.edu">
        <network host="smtp.ilstu.edu" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>-->

  <system.net>
    <mailSettings>
      <smtp from="pshriva@ilstu.edu">
        <network host="smtp.ilstu.edu" password="fornext2" userName="it3680112" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>