body {
    padding: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}